@function px2rem($px) {
  $rem: 100px;
  @return calc($px / $rem)+rem;
}

.body {
  width: 100%;
  margin: 0;
}

.main {
  margin: 0 auto;

  .header {

    .operate {
      width: px2rem(1058px);
      height: px2rem(70px);
      background: #F5F5F7;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;

      .icon1 {
        width: px2rem(70px);
        height: px2rem(70px);
        background-image: url("./static/icon1.png");
        background-size: 100% 100%;
      }

      .btn1 {
        width: fit-content;
        height: px2rem(42px);
        background: #4697FD;
        border-radius: 35px;
        font-size: px2rem(20px);
        font-family: Helvetica Neue;
        font-weight: 500;
        line-height: px2rem(42px);
        padding: px2rem(2px) px2rem(28px);
        color: #FFFFFF;
        text-align: center;
        cursor: pointer;
      }
    }
  }

  .body {
    .introduceArea {
      padding: px2rem(173px) 0 px2rem(20px) 0;
      background-image: url('./static/bgCover1.png');
      background-size: 100% 100%;
      // background: 100% 100%;
      background-repeat: no-repeat;

      .title {
        margin: 0 auto px2rem(25px) auto;
        text-align: center;
        width: px2rem(928px);
        height: px2rem(135px);
        font-size: px2rem(56px);
        font-family: Apple SD Gothic Neo;
        font-weight: 800;
        color: #000000;
      }

      .introduce {
        margin: 0 auto 75px auto;
        width: px2rem(1058px);
        height: px2rem(191px);
        font-size: px2rem(26px);
        font-family: Helvetica Neue;
        font-weight: 500;
        color: #272727;
      }

      .cover1 {
        width: px2rem(970px);
        height: px2rem(338px);
        background-image: url("./static/cover1.png");
        background-size: 100%;
        margin: 0 auto;
      }
    }

    .whatWeCanDoArea {
      padding-top: px2rem(177px);
      background-color: #F5F5F7;

      .title {
        margin: 0 auto px2rem(25px) auto;
        text-align: center;
        width: px2rem(1120px);
        height: px2rem(208px);
        font-size: px2rem(56px);
        font-family: Apple SD Gothic Neo;
        font-weight: 800;
        color: #000000;
      }

      .introduce {
        text-align: center;
        margin: 0 auto px2rem(75px) auto;
        width: px2rem(1058px);
        height: px2rem(191px);
        font-size: px2rem(26px);
        font-family: Helvetica Neue;
        font-weight: 500;
        color: #272727;
      }

      .cover2 {
        width: px2rem(1120px);
        height: px2rem(442px);
        background-image: url("./static/cover2.png");
        background-size: 100%;
        margin: 0 auto;
      }
    }

    .showDataArea {
      background-image: url("./static/bgCover2.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      padding: px2rem(205px) 0 px2rem(210px) 0;
      box-sizing: border-box;

      .content {
        width: fit-content;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        .item {
          margin: 0 px2rem(35px);
          text-align: center;

          .icon {
            width: px2rem(80px);
            height: px2rem(80px);
            margin: 0 auto px2rem(58px) auto;

            &.users {
              background-image: url('./static/userIcon.png');
            }

            &.files {
              background-image: url('./static/filesIcon.png');
            }

            &.videos {
              background-image: url('./static/videosIcon.png');
            }

            background-size: 100%;
          }

          .count {
            font-size: px2rem(70px);
            font-family: Helvetica Neue;
            font-weight: 500;
            color: #FFFFFF;

          }

          .remark {
            font-size: px2rem(30px);
            color: #FFFFFF;
            margin-top: px2rem(20px);
          }
        }
      }

    }

    .circuitArea {
      background: #FFFFFF;
      padding: px2rem(175px) 0;

      .title {
        text-align: center;
        font-size: px2rem(56px);
        font-family: Apple SD Gothic Neo;
        font-weight: 800;
        color: #000000;
        margin-bottom: px2rem(58px);
      }

      .step {
        display: flex;
        align-items: center;
        margin-bottom: px2rem(58px);

        .icon {
          width: px2rem(140px);
          height: px2rem(140px);

          &.step_one {
            background-image: url('./static/stepOne.png');
          }

          &.step_two {
            background-image: url('./static/stepTwo.png');
          }

          &.step_three {
            background-image: url('./static/stepThree.png');
          }

          background-size: 100%;
        }

        .text {
          text-align: center;
          width: px2rem(855px);
          font-size: px2rem(24px);
          font-family: Helvetica Neue;
          font-weight: 500;
          color: #1E1E1E;
          margin-left: px2rem(50px);
        }
      }
    }
  }

  .footer {
    padding: px2rem(65px) 0;
    background: #F5F5F7;

    .content {
      width: fit-content;
      margin: 0 auto;

      .otherOptions {
        display: flex;
        justify-content: space-between;

        .options {
          width: px2rem(250px);
          margin: 0 px2rem(30px);

          .title {
            font-size: px2rem(20px);
            font-family: Helvetica Neue;
            font-weight: 500;
            color: #000000;
            margin-bottom: px2rem(20px);
          }

          .item {
            font-size: px2rem(16px);
            font-family: Helvetica Neue;
            font-weight: 500;
            color: #4D5667;
            margin-bottom: px2rem(15px);

            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }

      .communityAccounts {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: px2rem(100px);

        .accounts {
          display: flex;

          .icon {
            width: px2rem(48px);
            height: px2rem(48px);
            margin-right: px2rem(8px);

            &.twitter {
              background-image: url('./static/twitter.png');
            }

            &.discord {
              background-image: url('./static/discord.png');
            }

            &.github {
              background-image: url('./static/github.png');
            }

            background-size: 100%;

            &:hover {
              cursor: pointer;
              box-shadow: 0px 1px 1px rgba(37, 37, 37, 0.527);
            }
          }
        }

        .filingNumber {
          font-size: px2rem(14px);
          font-family: Segoe UI;
          font-weight: 400;
          color: #4D5667;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .communityAccounts {
    display: unset !important;

    .accounts {
      width: fit-content;
      margin: px2rem(50px) auto;
      .icon {
        width: px2rem(96px) !important;
        height: px2rem(96px) !important;
        margin-right: px2rem(8px);

        background-size: 100% 100%;

        &:hover {
          cursor: pointer;
          box-shadow: 0px 1px 1px rgba(37, 37, 37, 0.527);
        }
      }
    }

    .filingNumber {
      text-align: center;
    }
  }
}