.body {
  width: 100%;
  margin: 0;
}

.main {
  margin: 0 auto;
}
.main .header .operate {
  width: 100%;
  height: 0.7rem;
  background: #F5F5F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.main .header .operate .icon1 {
  width: 0.7rem;
  height: 0.7rem;
  background-image: url("./static/icon1.png");
  background-size: 100% 100%;
}
.operate .btn1 #loginButton {
  border-radius: 10px;
  width: 100px;
  height: 40px; 
  background-color: #87CEEB;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  position: relative;
  top: -20px;
  border: none; 
}
.operate .btn1 #userWallet {
  font-size: 18px; 
  color: #333; 
  margin-top: 0px; 
}

@media screen and (max-width: 800px) {
  .main .header .operate {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main .header .operate .icon1 {
    margin-left: 0px;
  }

  .main .header .operate .btn1 {
    margin-top: 20px;
  }

  .main .header .operate .btn1 #loginButton {
    margin-top: 20px;
    width: 50px;
    height: 20px;
    font-size: 7px;
  }
}
.main .body .introduceArea {
  padding: 1.73rem 0 0.2rem 0;
  background-image: url("./static/bgCover1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.main .body .introduceArea .title {
  margin: 0 auto 0.5rem auto;
  text-align: center;
  width: 9.28rem;
  height: 1.35rem;
  font-size: 0.56rem;
  font-family: Apple SD Gothic Neo;
  font-weight: 800;
  color: #000000;
}
.main .body .introduceArea .introduce {
  margin: 0 auto 75px auto;
  width: 10.58rem;
  height: 1.91rem;
  font-size: 0.26rem;
  font-family: Helvetica Neue;
  font-weight: 500;
  color: #272727;
}
.main .body .introduceArea .cover1 {
  width: 9.7rem;
  height: 3.38rem;
  background-image: url("./static/cover1.png");
  background-size: 100%;
  margin: 0 auto;
}
.main .body .whatWeCanDoArea {
  padding-top: 1.77rem;
  background-color: #F5F5F7;
}
.main .body .whatWeCanDoArea .title {
  margin: 0 auto 0.5rem auto;
  text-align: center;
  width: 11.2rem;
  height: 2.08rem;
  font-size: 0.56rem;
  font-family: Apple SD Gothic Neo;
  font-weight: 800;
  color: #000000;
}
.main .body .whatWeCanDoArea .introduce {
  text-align: center;
  margin: 0 auto 0.75rem auto;
  width: 10.58rem;
  height: 1.91rem;
  font-size: 0.26rem;
  font-family: Helvetica Neue;
  font-weight: 500;
  color: #272727;
}
.main .body .whatWeCanDoArea .cover2 {
  width: 11.2rem;
  height: 4.42rem;
  background-image: url("./static/cover2.png");
  background-size: 100%;
  margin: 0 auto;
}
.main .body .showDataArea {
  background-image: url("./static/bgCover2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 2.05rem 0 2.1rem 0;
  box-sizing: border-box;
}
.main .body .showDataArea .content {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.main .body .showDataArea .content .item {
  margin: 0 0.35rem;
  text-align: center;
}
.main .body .showDataArea .content .item .icon {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 auto 0.58rem auto;
  background-size: 100%;
}
.main .body .showDataArea .content .item .icon.users {
  background-image: url("./static/userIcon.png");
}
.main .body .showDataArea .content .item .icon.files {
  background-image: url("./static/filesIcon.png");
}
.main .body .showDataArea .content .item .icon.videos {
  background-image: url("./static/videosIcon.png");
}
.main .body .showDataArea .content .item .count {
  font-size: 0.7rem;
  font-family: Helvetica Neue;
  font-weight: 500;
  color: #FFFFFF;
}
.main .body .showDataArea .content .item .remark {
  font-size: 0.3rem;
  color: #FFFFFF;
  margin-top: 0.2rem;
}
.main .body .circuitArea {
  background: #FFFFFF;
  padding: 1.75rem 0;
}
.main .body .circuitArea .area {
  width: fit-content;
  margin: 0 auto;
}
.main .body .circuitArea .area .title {
  text-align: center;
  font-size: 0.56rem;
  font-family: Apple SD Gothic Neo;
  font-weight: 800;
  color: #000000;
  margin-bottom: 0.58rem;
}
.main .body .circuitArea .area .step {
  display: flex;
  align-items: center;
  margin-bottom: 0.58rem;
}
.main .body .circuitArea .area .step .icon {
  width: 1.4rem;
  height: 1.4rem;
  background-size: 100%;
}
.main .body .circuitArea .area .step .icon.step_one {
  background-image: url("./static/stepOne.png");
}
.main .body .circuitArea .area .step .icon.step_two {
  background-image: url("./static/stepTwo.png");
}
.main .body .circuitArea .area .step .icon.step_three {
  background-image: url("./static/stepThree.png");
}
.main .body .circuitArea .area .step .text {
  text-align: center;
  width: 8.55rem;
  font-size: 0.24rem;
  font-family: Helvetica Neue;
  font-weight: 500;
  color: #1E1E1E;
  margin-left: 0.5rem;
}
.main .footer {
  padding: 0.65rem 0;
  background: #F5F5F7;
}
.main .footer .content {
  width: fit-content;
  margin: 0 auto;
}
.main .footer .content .otherOptions {
  display: flex;
  justify-content: space-between;
}
.main .footer .content .otherOptions .options {
  width: 2.5rem;
  margin: 0 0.3rem;
}
.main .footer .content .otherOptions .options .title {
  font-size: 0.2rem;
  font-family: Helvetica Neue;
  font-weight: 500;
  color: #000000;
  margin-bottom: 0.2rem;
}
.main .footer .content .otherOptions .options .item {
  font-size: 0.16rem;
  font-family: Helvetica Neue;
  font-weight: 500;
  color: #4D5667;
  margin-bottom: 0.15rem;
}
.main .footer .content .otherOptions .options .item:hover {
  cursor: pointer;
  text-decoration: underline;
}
.main .footer .content .communityAccounts {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1rem;
}
.main .footer .content .communityAccounts .accounts {
  display: flex;
}
.main .footer .content .communityAccounts .accounts .icon {
  width: 0.48rem;
  height: 0.48rem;
  margin-right: 0.08rem;
  background-size: 100%;
}
.main .footer .content .communityAccounts .accounts .icon.twitter {
  background-image: url("./static/twitter.png");
}
.main .footer .content .communityAccounts .accounts .icon.discord {
  background-image: url("./static/discord.png");
}
.main .footer .content .communityAccounts .accounts .icon.github {
  background-image: url("./static/github.png");
}
.main .footer .content .communityAccounts .accounts .icon:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(37, 37, 37, 0.527);
}
.main .footer .content .communityAccounts .filingNumber {
  font-size: 0.14rem;
  font-family: Segoe UI;
  font-weight: 400;
  color: #4D5667;
}
.main .footer .content .communityAccounts .filingNumber:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .communityAccounts {
    display: unset !important;
  }
  .communityAccounts .accounts {
    width: fit-content;
    margin: 0.5rem auto;
  }
  .communityAccounts .accounts .icon {
    width: 0.96rem !important;
    height: 0.96rem !important;
    margin-right: 0.08rem;
    background-size: 100% 100%;
  }
  .communityAccounts .accounts .icon:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(37, 37, 37, 0.527);
  }
  .communityAccounts .filingNumber {
    text-align: center;
  }
}

/*# sourceMappingURL=index.css.map */