<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0,minimal-ui" />

    <title>Doris</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/doris.css" />
  </head>
  <body>
{{ define "style-tags" }}
{{ end }}

{{ define "script-tags" }}
{{ end }}

{{ define "custom-elements" }}
{{ end }}

{{ define "content" }}
  
    <div class="main">
      <div class="header">
        <!-- <div class="language">
          <div class="text">EN</div>
        </div> -->
        <div class="operate">
          <div class="icon1"></div>
          <div class="btn1">Contact</div>
        </div>
      </div>
      <div class="body">
        <div class="introduceArea">
          <div class="title">
            Doris Protocol <br />
            Decentralized, Secure, Personalized
          </div>
          <div class="introduce">
            Doris is a Decentralized platform powered by blockchain technology, ensuring that your
            data isn’t controlled by a single entity. Prioritizing Secure data management, Doris
            offers impenetrable layers of protection against unauthorized access. Furthermore, with
            Personalized storage solutions, we cater specifically to individual needs, guaranteeing
            t hat every user has a unique and tailored experience.”
          </div>
          <div class="cover1"></div>
        </div>

        <div class="whatWeCanDoArea">
          <div class="title">
            Doris Protocol — Your Bridge to the Web3 World, ensuring security, efficiency, and
            cutting-edge technology.
          </div>
          <div class="introduce">
            “Doris Protocol leverages OP Stack, an advanced open-source component. Built on the
            foundation of the Optimism Network, it taps into the power and efficiency of Ethereum
            L2. This amalgamation promises enhanced scalability, reduced costs, and robust data
            management for users.”
          </div>
          <div class="cover2"></div>
        </div>

        <div class="showDataArea">
          <div class="content">
            <div class="item">
              <div class="icon users"></div>
              <div class="count">10,000+</div>
              <div class="remark">Users</div>
            </div>
            <div class="item">
              <div class="icon files"></div>
              <div class="count">1,000,000+</div>
              <div class="remark">Files</div>
            </div>
            <div class="item">
              <div class="icon videos"></div>
              <div class="count">50,000+</div>
              <div class="remark">Videos</div>
            </div>
          </div>
        </div>

        <div class="circuitArea">
          <div class="centered-container">
            <div class="title">Op Stack Optimism Network Ethereum L2</div>
            <div class="step">
              <div class="icon step_one"></div>
              <div class="text">
                1. nitial Phase: Provide individual users with data storage services grounded in
                blockchain technology.
              </div>
            </div>
            <div class="step">
              <div class="icon step_two"></div>
              <div class="text">
                2. Data Market: Introduce a data marketplace where users can monetize their data by
                selling it in the form of NFTs.
              </div>
            </div>
            <div class="step">
              <div class="icon step_three"></div>
              <div class="text">
                3. Advanced Phase: Offer data interface services for AI training, laying a data
                foundation for the advancement of human civilization. Aim to encapsulate the
                accomplishments of our civilization in mathematical formulas that transcend time and
                space.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="content">
          <div class="otherOptions">
            <div class="options">
              <div class="title">Optimism</div>

              <div class="item">Home</div>
              <div class="item">Governance</div>
              <div class="item">Bridge</div>
              <div class="item">Ecosystem</div>
              <div class="item">Help center</div>
              <div class="item">Feature request</div>
            </div>
            <div class="options">
              <div class="title">Developers</div>

              <div class="item">Documentation</div>
              <div class="item">Block explorer</div>
              <div class="item">Status</div>
              <div class="item">Bug bounty</div>
              <div class="item">Dev blog</div>
              <div class="item">Marketing support</div>
              <div class="item">Get in touch</div>
              <div class="item">GitHub</div>
            </div>
            <div class="options">
              <div class="title">Community</div>

              <div class="item">Discord</div>
              <div class="item">Twitter</div>
              <div class="item">Twitch</div>
              <div class="item">Blog</div>
              <div class="item">Events</div>
              <div class="item">Newsletter</div>
            </div>
            <div class="options">
              <div class="title">About</div>

              <div class="item">About</div>
              <div class="item">Careers</div>
              <div class="item">Brand assets</div>
              <div class="item">On-chain data</div>
              <div class="item">Legal terms & disclosures</div>
              <div class="item">Community Notice</div>
            </div>
          </div>
          <div class="communityAccounts">
            <div class="accounts">
              <div class="icon twitter"></div>
              <div class="icon discord"></div>
              <div class="icon github"></div>
            </div>
            <div class="filingNumber">
              © 2021 Copybyte Optimism Foundation 2020-2023.All Rights Reserved.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../static/js/doris.js"></script>
</html>
  

{{ end }}
{{ template "base.html" }}